.App {
    text-align: center;
    border:5px solid black;
    margin:0 auto;
    margin-top:180px;
    width:256px;
  }
  .keys{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-auto-rows: minmax(60px auto);
    height:300px;
    font-size:large;
  }
  #Mainheader{
    height:50px;
    background-color: blueviolet;
    color:white;
  }
  input[type="text"]{
    background-color:grey;
    height:50px;
    width:250px;
    font-size:larger;
  }
  #clear{
    font-size:larger;
    color:black;
    background-color:white;
  }
  #Result{
    background-color:darkgreen;
    color:black;
    font-size:xx-large;
  }
  #add,#sub,#mul,#divide,#mod{
    font-size:xx-large;
    background-color:red;
    color:white;
  }
  #zero{
    grid-column:1/3;
    grid-row:5;
  }
  button{
    font-size:larger;
    background-color:white;
    color:black;
  }
  button:hover{
    background-color:orange;
  }
  
